.claude
PhantomSector.Game/obj
PhantomSector.Game/bin
PhantomSector.Editor/bin/
PhantomSector.Editor/obj/
PhantomSector.Game/Content/obj/
PhantomSector.Game/Content/bin/
.history/
.vs/
PhantomSector.Game/Content/nul
nul
